
{% extends 'base.html' %}
{% load bootstrap4 %} <!-- 부트스트랩 쓰기위해 load -->

{% block container %}
    <div class="container">
        <h1>게시판 보기</h1>

        <form action="{% url 'posts:list' %}" method="GET">
            {% csrf_token %}
            <!-- {{ post_form }} 그냥 쓰면 부트스트랩 적용이 안됨 -->
            {% bootstrap_form post_form %} <!-- 부트스트랩 적용! -->
            <button type="submit" class="btn btn-primary">뒤로가기</button>
        </form>

        {% comment %}
        <a href="{% url 'posts:send_comment' post.id %}" class="btn btn-primary">댓글쓰기</a>
        {% endcomment %}



            <form action="{% url 'posts:send_comment' post.id %}" method="POST">
         {% csrf_token %}
         {% bootstrap_form comment_form %}
            <!-- {{ post_form }} 그냥 쓰면 부트스트랩 적용이 안됨 -->
            <!-- 부트스트랩 적용! -->
        <button type="submit" class="btn btn-primary">댓글쓰기</button>
    </form>


        <!--댓글-->
         <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">작성자</th>
                    <th scope="col">내용</th>
                    <th scope="col">삭제</th>
                    <th scope="col">게시일</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in post.comments.all %}
                <tr>
                    <th scope="row">{{ comment.post }}</th>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.text }}</td>

                    <td>{{ comment.created_date }}</td>
                </tr>
            {% endfor %}
           </tbody>
        </table>


   </div>





<!--<a href="{% url 'posts:send_comment' post.id %}" class="btn btn-primary" methods="POST">댓글쓰기</a>-->


{% endblock %}






